*{
    padding: 0;
}
.page{
    display: flex;
    padding: 0 150px;
}

.page h1{
    color: var(--twitter-color);
}

.main > span> button{
    background-color: var(--twitter-color);
    font-weight: bold;
    border-radius: 7px;
    padding: 10px;
    margin: 5px 7px;
    border: none;
    cursor: pointer;
}

.desc{
    text-align: center;
    font-weight:500;
    color: var(--twitter-color);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.desc p{
    text-decoration: underline;
}

.info:hover+ .desc{
    opacity: 1;
}